
/* ------------------------------------
---------------------------------------
            Media Querries
---------------------------------------
-------------------------------------*/

@media (max-width:1469px){
.footer-nav {
    margin-left: -20%;
}
.logo{
    margin-right: -10%;
} 
.logo-white{
    margin-left: 105%;
}
.ion-arrow-left-c{
    margin-left: -10%;
}
.ion-home{
    margin-left: -10%;
}
}

@media (max-width:1400px){
.footer-nav {
    margin-left: 0%;
}
.ion-help-circled{
    margin-left: 5%;
}
.logo{
    margin-right: -5%;
} 
.logo-white{
    margin-left: 100%;
}
.ion-arrow-left-c{
    margin-left: -5%;
}
.ion-home{
    margin-left: -5%;
}
.main-nav{
    margin-right: 10%;
}
.text-box{
    margin-left: -5%;
}
}
@media (max-width:1320px){

.ion-help-circled{
    margin-left: 0%;
}  
.about-us .imagge{
    margin-top: 5%;
}

}
@media (max-width:1280px){
.ion-arrow-left-c{
    margin-left: 0%;
}
.ion-home{
    margin-left: 0%;
}
html{
    font-size: 18px;
}
.main-nav{
    margin-right: 15%;

}
.logo{
    margin-right: 0%;
} 
.logo-white{
    margin-left: 95%;
    padding-left: -10%;
    margin-top: -4%;
}
.text-box{
    margin-left: -10%;
}
h1{
    font-size: 175%;
}
}

@media (max-width:1170px){
.ion-arrow-left-c{
    margin-left: 5%;
}
.ion-home{
    margin-left: 5%;
}
.logo{
    margin-right: 5%;
    width: 40px;
    height: auto;
} 
.logo-white{
    margin-left: 90%;
    padding-left: -10%;
    margin-top: -4%;
}
.footer-nav li{
    font-size: 80%;
}
.footer-nav li:first-child{
    padding-left: 40px;
}
.social-links{
    font-size: 80%;
}
.social-links:last-child{
    padding-right: 20px;
    }
footer p{
    font-size: 14px;
}
.main-nav{
    margin-right: 20%;

}
.text-box{
    margin-left: -15%;
}
h1{
    font-size: 125%;
}
}
@media (max-width:1135px){
.ion-help-circled{
    margin-left: -5%;
}
.about-us .imagge{
    width: 600px;
    height: auto;
}
}
@media (max-width:1080px){
.item-photo figcaption{
    font-size: 90%;
}
.ion-help-circled{
    font-size: 175%;
}
}
@media (max-width:1037px){
.text-box{
    margin-left: -20%;
}
}

@media (max-width:1037px){
.text-box{
    margin-left: -25%;
}
}

@media (max-width:910px){
.about-us .imagge{
    width: 500px;
    height: auto;
}
.main-nav li {
    font-size: 80%;
}
#slide-image{
    height: 400px;
    width: auto;
}
.text-box{
    margin-left: -25%;
}
.footer-nav li:last-child{
    margin-left: 20px;
}

}

@media (max-width:882px){
.item-photo figcaption{
    font-size: 70%;
}
}

@media (max-width:865px){
.text-box{
    margin-left: -30%;
}
h3:after{
    width: 300px;
}


}

@media (max-width:865px){
.text-box{
    margin-left: -35%;
}
p{
    font-size: 30%;
}
h2:after{
    width: 500px;
}
.content p{
    font-size: 100%;
}
.about-us .imagge{
    margin-left: -5%;
    width: 500px;
    height: auto;
}
}

@media (max-width:790px){
html{
    font-size: 16px;
}
p{
    font-size: 40%;
}
}

@media (max-width:775px){


.item-photo figcaption{
    font-size: 100%;
    padding-bottom: 10%;
}
.foram h2{
    font-size: 100%;
}
.contentt h1{
    margin-top: 20%;
} 
.contentt p{
    font-size: 100%;
}
.contentt h2{
    font-size: 80%;
}
.content p{
    font-size: 80%;
}
.content h2{
    font-size: 80%;
}
.main-nav{
    display: none;
}
.text-box{
    margin-top: 5%;
}
.logo{
    display: none;
}
.sticky .logo-white{
    display: none;
}
  .mob-nav-icon{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
  }
  .main-nav{
    float: left;
    margin-left: 35%;
    margin-top: 2.5%;
  }
  .main-nav li{
    display: block;
    font-size: 100%;
  }
  .main-nav li a:link,
  .main-nav li a:visited{
    display: block;
    border: 0;
  }
  .sticky .main-nav{
    margin-top: 2%;
    margin-bottom: 2%
  }
  .sticky .mob-nav-icon i{
    color: #fff;
    margin-left: 10%;
  }
  h1:after {
    width: 400px;
}
h3{
    font-size: 70%;
}
.text-box{
    margin-left: -40%;
}
}

@media (max-width:716px){
p{
    font-size: 30%;
}
.text-box{
    margin-left: -45%;
}
}

@media (max-width:683px){
h1{
    font-size: 90%;
}
.text-box{
width: 100%;
margin-left: -10%
}
h3:after{
    width: 200px;
}
}
@media (max-width:620px){
.ion-help-circled{
    margin-left: 5%;
}
h2:after{
    width: 300px;
}
}
@media (max-width:586px){

.item-photo figcaption{
    font-size: 80%;
    padding-bottom: 10%;
}
.main-nav{
    font-size: 11px;
}
.main-nav li{
    margin-right: 
}
.text-box{
    margin-top: 5%;
}
}
@media (max-width:556px){
.main-nav{
    margin-right: 25%;

}
.main-nav li{
    margin-left: 10%;
    font-size: 12px;
}

p{
    font-size: 25%;
}
.footer-nav li{
    margin-left: 20px;
}
}
@media (max-width:547px){
h1{
   width: 90%;
    margin-left: 10px;
}
.headingg{
    font-size: 90%;
    margin-left: 10%;
}
h1:after{
    width: 350px;
}
}

@media (max-width:503px){
.foram{
    margin-top: 10%;
}
.hdding{
    font-size: 150%;
}
footer p{
        font-size: 12px;
    }
h3{
    font-size: 50%;
}
p{
    font-size: 12px;
    width: 100%;
}
.footer-nav li:first-child{
    margin-left: 0px;
}
#slide-image{
    width: 100%;
    height: auto;

}
.footer-nav li{
    margin-top: 20px;
}

.headingg{
    font-size: 80%;
}
}
@media (max-width:480px){
label{
    font-size: 100%;
    margin-left: 00%;
}
.list{
    padding-top: 10%;
    padding-bottom: 10px;
    margin-left: -2%;
}

input[type=submit]{
    margin-top: -2%;
    margin-bottom: 5%;

}
}
@media (max-width:465px){
.item-photo figcaption{
    font-size: 75%;
}
}
@media (max-width:450px){
.main-nav{
    width: 15%;
}
.main-nav li{
    padding-left: -100px;
}
.item-photo figcaption{
    font-size: 70%;
}
}

@media (max-width:400px){
.item-photo figcaption{
    font-size: 65%;
}
.text-box{
    margin-top: 15%;
}
footer p{
        font-size: 10px;
    }
h3{
    font-size: 40%;
}
h3:after{
    width: 100px;
}
}